@model CollegeRandom.Models.Student

<h1> Delete Student </h1>

@Html.DisplayNameFor(Student => Student.FirstName)
@Html.DisplayNameFor(Student => Student.LastName)
@Html.DisplayNameFor(Student => Student.Course)

<form asp-action="Delete">
    <input type="hidden" asp-for="ID" />
    <input type="submit" value="Delete" />
    <a asp-action="Index">Back to Student Home</a>
</form>