@model CollegeRandom.Models.Course
 

<h2>Delete Course</h2>

<h3>Are you sure you want to delete this course?</h3>
<h4>Course</h4>
<tr>
    <td>@Html.DisplayFor(course => course.Name)</td>
    <td>@Html.DisplayFor(course => course.Level)</td>
    <td>@Html.DisplayFor(course => course.Instructor)</td>
</tr>

<form asp-action="Delete">
    <input type="hidden" asp-for="ID" />
    <input type="submit" value="Delete" />
    <a asp-action="Index">Back to Course Home</a>
</form>
