@model CollegeRandom.Models.Course


<h1>Course</h1>

<table>
    <tr>
        <td>@Html.DisplayFor(course => course.Name)</td>
        <td>@Html.DisplayFor(course => course.Level)</td>
        <td>@Html.DisplayFor(course => course.Instructor)</td>
    </tr>
</table>
