@model Student_Enrollment.Models.Student

<h2> New student </h2>

<form action="Create" method="post">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
    <span asp-validation-for="FirstName"></span>

    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
    <span asp-validation-for="LastName"></span>

    <label asp-for="Course"></label>
    <input asp-for="Course" />
    <span asp-validation-for="Course"></span>




    <input type="submit" value="Create New Student" />
</form>

<a asp-action="index">Back</a>