@model Student_Enrollment.Models.Course

<h2>Delete Course</h2>

@Html.DisplayFor(Course => Course.Name)
@Html.DisplayFor(Course => Course.Level)
@Html.DisplayFor(Course => Course.Instructor)

<form asp-action="Delete">
    <input type="hidden" asp-for="ID" />
    <input type ="submit" value="Delete"/>
    <a asp-action="Index"> Back</a>
</form>