@model Student_Enrollment.Models.Course

@Html.DisplayNameFor(Course => Course.Name)
@Html.DisplayNameFor(Course => Course.Level)
@Html.DisplayNameFor(Course => Course.Instructor)

<a asp-action="Index">Back</a>