
Hello From the View Page

<form method="post">
    <label for="StudentsListNames"> StudentListNames</label>
    <input name="StudentsListNames"/>
    <button type="submit"> Submit </button>
    
</form>

<form method="post">
    <label for="MaxPages"> Course </label>
    <input name="MaxPages" maxlength="3" />

    <button type="submit">Submit</button>

</form>