@model University.Models.Student

<h1> Students </h1>

<table>
    @Html.DisplayFor(student => student.FirstName)
    @Html.DisplayFor(student => student.LastName)
    @Html.DisplayFor(student => student.Course)

</table>

<a asp-action="Index">Back</a>