@model CollegeRandom.Models.ErrorViewModel

<h1>Error!!</h1>

@if (Model.ShowRequestId)
{
    <p>Request ID: @Model.RequestId</p>

}

<h3>Development Mode</h3>
<p>Changing to Development enviroment will display more detailed information a